





/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
  background-color: #F5F8FF;
  width: 100%;
}
/* share style  start*/

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-variation-settings:
    "wdth" 100;
}

.container{
    max-width:1140px;
    margin: 0px auto;
}

:root{
  --text-primary:#000000;
  --text-secendary:#E95A08;
}

      .section-description{
        font-weight: 400;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
      }

      .section-title{
        font-weight: bold;
      font-size: 50px;
      color: var(--text-primary);
      text-align: center;
      padding: 20px;
      }
   /* share style  end*/

/* header section start */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 150px;
}

.logo img{
  width: 135px;
  height: 82px;
}
   /* header section end */

/* nav section start*/
nav ul{
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
}   

    nav ul li{
      list-style: none;
    }

    nav ul li a{
      text-decoration: none;
    }

    nav ul li:nth-child(1) a{
      color: #252432;
      font-weight: 700;
      font-size: large;
    }
    nav ul li:nth-child(2) a{
      color: #8987A1;
      font-weight:400;
      font-size: medium;
    }
   
     nav ul li:nth-child(3) a{
      color: #8987A1;
      font-weight: 400;
      font-size: medium;
    }

     nav ul li:nth-child(4) a{
      color: var(--text-primary);
      font-weight: 400;
      font-size: medium;
    }
        /* nav section start*/

    /*  responsive header start mobaile */
    @media screen and (max-width:576px) {
      .header-container{
         padding: 30px 16px;
         display: flex;
         align-items: center;
          }
      nav ul li:nth-child(1) a{
      display: none;
    }
    nav ul li:nth-child(2) a{
           display: none;
    }
   
     nav ul li:nth-child(3) a{
          display: none;
    }

     nav ul li:nth-child(4) a{
      color: var(--text-primary);
      font-weight: 400;
      font-size: medium;
      padding: 0px;
      margin: 0px;
    }
    .logo img{
      width: 63px;
      height: 38px;
    }
    }

    /* hresponsive header end */

    /* always fresh flowers section style start  */

    .fresh-flowers-container{
      display: flex;
      justify-content: space-between;
      align-items:end;
    }
  

    .section-title-bannar{
      font-weight: bold;
      font-size: 65px;
      color: var(--text-primary);

    }

    .section-description-bannar{
      text-align: left;
    }
    .bannar-title{
      color: var(--text-secendary);
    }

    .fresh-flowers-container{
      padding-top: 120px;
      
    }

         /* always fresh flowers section style end */

           /* always fresh flowers section responsive start  mobale */
           @media screen and (max-width:576px) {

            .fresh-flowers-container{

                     display:flex;
                      flex-direction: column-reverse;
                    padding-top: 56px;
                    padding-bottom: 0px;
                    margin: 0px;
                     
                 }
                  

                 .section-title-bannar{
                   font-weight: bold;
                   font-size: 24px;
                   }

                   .section-description{
                    font-size: 14px;
                    padding: 10px 0px;
                   }
                .fresh-flowers-content{
                  padding: 16px;
                }

                .bannar-img{
                  width: 100%;
                }


           }


           /* always fresh flowers section responsive end  mobale */

          /* plants section start */
              .plants-section{
                padding: 100px 0px;
              }
             .plants-content{
              padding:0px 126px;
             }
             
             .card-container{
              padding: 50px 0px;
              display: grid;
              grid-template-columns: repeat(4,1fr);
              row-gap: 30px;
             }
             .card{
              width: 270px;
              height: 480px;
             }
             .card h3{
              text-align: center;
              font-weight: 400;
              font-size: 22px;
              color: rgba(17, 17, 17, 1);
              padding-top:25px;
             }
             .card h2{
              text-align: center;
              font-weight: 600;
              font-size: 22px;
              color: rgba(17, 17, 17, 1);
              padding: 10px 0px;
              padding-bottom:20px;
             }
             .btn{
              background-color: var(--text-secendary);
               width: 100%;
              height: 50px;
              color: white;
              border: none;
               font-weight: 500;
              font-size: 16px;
              text-align: center;
             
             }
             
          /* plants section end */

          /* plants responsive start mobaile */
                
          @media screen and (max-width:576px) {
                    
                     .plants-section{
                     padding: 0px;
                         }
                   .plants-content{
                    padding:0px;
                    
                   }
             
                  .card h3{
              text-align: center;
              font-weight: 400;
              font-size:14px;
              padding: 0px;
             }
             .card h2{
              text-align: center;
              font-weight: 600;
              font-size: 16px;
              padding: 0px;
              /* padding-bottom:10px; */
             }


                .plants-content-titile{
                     font-weight: 700;
                     font-size: 24px;
                     padding: 0px;
                     text-align: center;
                }

                 .section-description-plant{
                
                     font-weight: 400;
                     font-size: 14px;
                     padding: 0px 30px;
                     color: rgba(0, 0, 0, 0.5);
                     text-align: center;
                }

                 .card-img{
                  width: 100%;
                 }

                 .card{
                  width: 100%;
                  height: 100%;
                 }
             .card-container{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              row-gap:10px;
              column-gap: 10px;
              padding:  20px 10px;
             }
          }
      
           .hide{
            display: none;
           }

          /* plants responsive end mobaile */


          /* flowers store and batch section start */
            .flower-store-container{
              display: flex;
              justify-content: space-between;
              column-gap: 60px;
              position: relative;
              padding: 80px 0px;
            }

            .flower-store-container img{
              width: 100%;
            }
            
            .flower-store-content{
              width: 50%;
            }
            .flower-store-content h1{
              text-align: left;
              padding: 0px;
            }
            .flower-store-content ul{
              text-align: left;
              padding:20px;
              line-height: 30px;
            }
            .flower-store-content ul li{
              padding:20px;
            
            }

          .spring{
            position: absolute;
            width: 286px;
            height: 286px;
            top:-40px;
            left: 330px;
          }

          /* flowers store and batch section end*/


          /* flowers store and batch section responsive start mobaile  */
                @media screen and (max-width:576px) {
                         .flower-store-container{
                         flex-direction: column;
                          padding:40px 15px;
                          margin: 0px;
                        }
                         
                         .flower-store-container img{
                         width: 100%;
                         }

                        .spring{
                          display: none;
                        }
                           

                        .flower-store-content{
                          padding-top: 20px;
                          margin: 0px;
                          width: 100%;
                        }
                          .section-title-responsive{
                     font-weight: 700;
                     font-size: 24px;
                     padding: 0px;
                     margin: 0px;
                     text-align: justify;
                }

                 .section-description-responsive{
                     font-weight: 400;
                     font-size: 14px;
                     padding: 0px;
                     margin: 0px;
                     text-align:left;
                }

                 .flower-store-content ul{
              /* text-align: left; */
              /* padding:0px 15px; */
            
            }
            .flower-store-content ul li{
              padding:5px 0px;
            
            }


                }
               


          /* flowers store and batch section responsive end mobaile  */

          /* deal section */

          .deal-container{
            padding-bottom: 200px;
          }
          .deal-des{
               padding:0px 170px;
          }


          .deal-img-container{
            display:flex;
            gap: 20px;
            padding-top: 100px;
          }
             
          
          .deal-img-container{
            width: 100%;
          }

          .deal-img-left{
             width: 35%;
             height: 420px;
             
          }

          .deal-img-right{
            width: 70%;
            height: 420px;
          }
           .blank{
            height: 20px;
            width: 100%;
           }
          .deal-two{
              background-image: url(../assets/deal-ana.png);
                background-repeat: no-repeat;
                  background-size: cover;
                  height: 50%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                   color: white;
                   border-radius: 10px;
                
          }
            .deal-one{
              
              background-image: url(../assets/deal-bloom.png);
                background-repeat: no-repeat;
                 background-size: cover;
                 height: 50%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  border-radius: 10px;
      
                  
            }
          .deal-img-right{
            background-image: url(../assets/deal-zabo.png);
            background-repeat: no-repeat;
            background-size: cover;
             display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                   color: white;
                   border-radius: 10px;
          }

           .deal-one h2{
              font-weight: 700;
              font-size: 20px;
            } 
            .deal-one p{
              font-weight: 600;
              font-size: 16px;
              border-bottom: 2px solid white;
            } 
            .deal-two h2{
              font-weight: 700;
              font-size: 20px;
            } 
            .deal-two p{
              font-weight: 600;
              font-size: 16px;
              border-bottom: 2px solid white;
            } 

            .deal-img-right h2{
               font-weight: 700;
              font-size: 40px;
            }
            .deal-img-right p{
               font-weight: 600;
              font-size: 20px;
              border-bottom: 2px solid white;
            }
           /* responsive deal */
           @media screen and (max-width:567px) {
                .contraine{
                  padding:0px;
                  margin: 0px;
                }

                .deal-container{
            padding-bottom: 40px;
          }

                .deal-title{
                  font-weight: 700;
                  font-size: 22px;
                }
                .deal-head{
                      text-align: center;
                }

                .deal-des{
               padding:0px 50px;
               font-weight: 400;
               font-size: 14px;
          }
            .deal-img-container{
            display:flex;
            flex-direction: column;
            row-gap: 40px;
            padding: 10px 20px;
  
          }

           .deal-img-container{
            width: 100%;
          }
          .deal-img-left{
             width: 100%;
             height: 420px;
          }

          .deal-img-right{
            width: 100%;
            height: 210px;
             border-radius: 10px;
          }
            .deal-one{
              border-radius:10px;
              margin-bottom: 20px;
            }
            .deal-one h2{
              font-weight: 700;
              font-size: 20px;
            } 
            .deal-one p{
              font-weight: 600;
              font-size: 16px;
            } 
            .deal-two h2{
              font-weight: 700;
              font-size: 20px;
            } 
            .deal-two p{
              font-weight: 600;
              font-size: 16px;
            } 

            .deal-img-right h2{
               font-weight: 700;
              font-size: 20px;
            }
            .deal-img-right p{
               font-weight: 600;
              font-size: 16px;
            }
            .blank{
              height: 0px;
            }

           }



           /* contact-section */
                   
           .contact-section{
            height: 533px;
            width: 100%;
            background-image: url(../assets/news-letter-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            
          
           }
           .contact{
            
            text-align: center;
            padding-top:180px;
              
              
           }

           .con-input{
            height: 50px;
            width: 600px;
            padding: 0px 30px;
            border: none;
            outline: none;
           }

           .btn-contact{
             height: 50px;
             background-color: #E95A08;
             color: white;
             width:180px;
             border: none;
             outline: none;
             padding-left:0px;
             margin-left:0px;
             font-size: 16px;
             font-weight: 600;
           }


           .contact h1{
               color: white;
           }


           @media screen and (max-width:576px) {
                .con-tilte{
                  font-size:20px;
                }

                 .contact{
            
            text-align: center;
            padding-top:160px;
              
              
           }

            .con-input{
            height: 50px;
            width:220px;
            padding: 0px 30px;
            border: none;
            outline: none;
           }
            .btn-contact{
              width: 100px;
              font-size: 14px;
              font-weight: 400;
              padding: 0px 10px;
            }

                
           }
               

          .container-footer{
            display: flex;
            justify-content: space-between;
            padding: 50px 0px;
            /* align-items: center; */
          }

          .footer-des{
            width: 350px;
            font-size: 22px;
            color:rgba(0, 0, 0, 0.5);
            padding-top: 10px;
          }
            
           .menu-footer{
            display: flex;
            flex-direction: column;
            gap: 20px;
           }

           .menu-footer-1 a{
            font-size:50px;
           }
          .menu-footer a{
             text-decoration: none;
            color:rgba(0, 0, 0, 0.5);
            
          }
          .price{
            display: flex;
            flex-direction: column;
            gap: 20px;
             color:rgba(0, 0, 0, 0.5);
             font-size: 14px;
             font-weight: 400;
          }
            .icon-footer img{
              padding: 10px;
            }
            


            /* responsive footer */
            @media screen and (max-width:576px){
               .container-footer{
            display: flex;
            flex-direction: column;
            
            padding: 0px 10px;
            row-gap: 20px;
            
          }
             

           .footer-des{
            width: 350px;
            font-size:14px;
            color:rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
          }


            }
            .hide{
              display: none;
            }