





/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
  background-color: #F5F8FF;
  width: 100%;
}
/* share style  start*/

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-variation-settings:
    "wdth" 100;
}

.container{
    max-width:1140px;
    margin: 0px auto;
}

:root{
  --text-primary:#000000;
  --text-secendary:#E95A08;
}

      .section-description{
        font-weight: 400;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
      }

      .section-title{
        font-weight: bold;
      font-size: 50px;
      color: var(--text-primary);
      text-align: center;
      padding: 20px;
      }
   /* share style  end*/

/* header section start */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 150px;
}

.logo img{
  width: 135px;
  height: 82px;
}
   /* header section end */

/* nav section start*/
nav ul{
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
}   

    nav ul li{
      list-style: none;
    }

    nav ul li a{
      text-decoration: none;
    }

    nav ul li:nth-child(1) a{
      color: #252432;
      font-weight: 700;
      font-size: large;
    }
    nav ul li:nth-child(2) a{
      color: #8987A1;
      font-weight:400;
      font-size: medium;
    }
   
     nav ul li:nth-child(3) a{
      color: #8987A1;
      font-weight: 400;
      font-size: medium;
    }

     nav ul li:nth-child(4) a{
      color: var(--text-primary);
      font-weight: 400;
      font-size: medium;
    }
        /* nav section start*/

    /*  responsive header start mobaile */
    @media screen and (max-width:576px) {
      .header-container{
         padding: 30px 16px;
         display: flex;
         align-items: center;
          }
      nav ul li:nth-child(1) a{
      display: none;
    }
    nav ul li:nth-child(2) a{
           display: none;
    }
   
     nav ul li:nth-child(3) a{
          display: none;
    }

     nav ul li:nth-child(4) a{
      color: var(--text-primary);
      font-weight: 400;
      font-size: medium;
      padding: 0px;
      margin: 0px;
    }
    .logo img{
      width: 63px;
      height: 38px;
    }
    }

    /* hresponsive header end */

    /* always fresh flowers section style start  */

    .fresh-flowers-container{
      display: flex;
      justify-content: space-between;
      align-items:end;
    }
  

    .section-title-bannar{
      font-weight: bold;
      font-size: 65px;
      color: var(--text-primary);

    }

    .section-description-bannar{
      text-align: left;
    }
    .bannar-title{
      color: var(--text-secendary);
    }

    .fresh-flowers-container{
      padding-top: 120px;
      
    }

         /* always fresh flowers section style end */

           /* always fresh flowers section responsive start  mobale */
           @media screen and (max-width:576px) {

            .fresh-flowers-container{

                     display:flex;
                      flex-direction: column-reverse;
                    padding-top: 56px;
                    padding-bottom: 0px;
                    margin: 0px;
                     
                 }
                  

                 .section-title-bannar{
                   font-weight: bold;
                   font-size: 24px;
                   }

                   .section-description{
                    font-size: 14px;
                    padding: 10px 0px;
                   }
                .fresh-flowers-content{
                  padding: 16px;
                }

                .bannar-img{
                  width: 100%;
                }


           }


           /* always fresh flowers section responsive end  mobale */

          /* plants section start */
              .plants-section{
                padding: 100px 0px;
              }
             .plants-content{
              padding:0px 126px;
             }
             
             .card-container{
              padding: 50px 0px;
              display: grid;
              grid-template-columns: repeat(4,1fr);
              row-gap: 30px;
             }
             .card{
              width: 270px;
              height: 480px;
             }
             .card h3{
              text-align: center;
              font-weight: 400;
              font-size: 22px;
              color: rgba(17, 17, 17, 1);
              padding-top:25px;
             }
             .card h2{
              text-align: center;
              font-weight: 600;
              font-size: 22px;
              color: rgba(17, 17, 17, 1);
              padding: 10px 0px;
              padding-bottom:20px;
             }
             .btn{
              background-color: var(--text-secendary);
               width: 100%;
              height: 50px;
              color: white;
              border: none;
               font-weight: 500;
              font-size: 16px;
              text-align: center;
             
             }
             
          /* plants section end */

          /* plants responsive start mobaile */
                
          @media screen and (max-width:576px) {
                    
                     .plants-section{
                     padding: 0px;
                         }
                   .plants-content{
                    padding:0px;
                    
                   }
             
                  .card h3{
              text-align: center;
              font-weight: 400;
              font-size:14px;
              padding: 0px;
             }
             .card h2{
              text-align: center;
              font-weight: 600;
              font-size: 16px;
              padding: 0px;
              /* padding-bottom:10px; */
             }


                .plants-content-titile{
                     font-weight: 700;
                     font-size: 24px;
                     padding: 0px;
                     text-align: center;
                }

                 .section-description-plant{
                
                     font-weight: 400;
                     font-size: 14px;
                     padding: 0px 30px;
                     color: rgba(0, 0, 0, 0.5);
                     text-align: center;
                }

                 .card-img{
                  width: 100%;
                 }

                 .card{
                  width: 100%;
                  height: 100%;
                 }
             .card-container{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              row-gap:10px;
              column-gap: 10px;
              padding:  20px 10px;
             }
          }
      
           .hide{
            display: none;
           }

          /* plants responsive end mobaile */


          /* flowers store and batch section start */
            .flower-store-container{
              display: flex;
              justify-content: space-between;
              column-gap: 60px;
              position: relative;
              padding: 80px 0px;
            }

            .flower-store-container img{
              width: 100%;
            }
            
            .flower-store-content{
              width: 50%;
            }
            .flower-store-content h1{
              text-align: left;
              padding: 0px;
            }
            .flower-store-content ul{
              text-align: left;
              padding:20px;
              line-height: 30px;
            }
            .flower-store-content ul li{
              padding:20px;
            
            }

          .spring{
            position: absolute;
            width: 286px;
            height: 286px;
            top:-40px;
            left: 330px;
          }

          /* flowers store and batch section end*/


          /* flowers store and batch section responsive start mobaile  */
                @media screen and (max-width:576px) {
                         .flower-store-container{
                         flex-direction: column;
                          padding:40px 15px;
                          margin: 0px;
                        }
                         
                         .flower-store-container img{
                         width: 100%;
                         }

                        .spring{
                          display: none;
                        }
                           

                        .flower-store-content{
                          padding-top: 20px;
                          margin: 0px;
                          width: 100%;
                        }
                          .section-title-responsive{
                     font-weight: 700;
                     font-size: 24px;
                     padding: 0px;
                     margin: 0px;
                     text-align: justify;
                }

                 .section-description-responsive{
                     font-weight: 400;
                     font-size: 14px;
                     padding: 0px;
                     margin: 0px;
                     text-align:left;
                }

                 .flower-store-content ul{
              /* text-align: left; */
              /* padding:0px 15px; */
            
            }
            .flower-store-content ul li{
              padding:5px 0px;
            
            }


                }
               


          /* flowers store and batch section responsive end mobaile  */
